
<script>
    function validateDonation(){
        var amount=document.getElementById("formGroupAmount").value;
        if(amount<=0){
            alert("Enter a Positive number");
            return false;
        }
        else{
            return true;
        }
    }
</script>


<section class="banner-sec">
    <div class="container">
        <div class="row">
            <div class="container">
                <h3>Add Item For Donations : {{session.eventTitle}}</h3>
                <hr>
                {{#if messages}}
                    {{# each messages }}
                        <div class="alert alert-danger">
                            {{this.msg}}
                        </div>
                    {{/each}}
                {{/if}}
                {{#if msgSuccess}}
                    <div id="charge-error" class="alert alert-success">
                        {{msgSuccess}}
                    </div>
                {{/if}}
                <form action="/donation/addItem" method="post" onsubmit="return validateDonation()">
                    <div class="form-group col-lg-4">
                        <label for="formGroupPostDonor">Donor Name : {{ user.firstName }} {{ user.lastName }}</label>
                        <input type="hidden" class="form-control" id="formGroupdonor" placeholder="Name" name="donorName" value="{{ user.firstName }} {{ user.lastName }}">
                    </div>
                    <div class="form-group col-lg-4">
                        <label for="formGroupMobile">Mobile Number : {{user.mobile}}</label>
                        <input type="hidden" class="form-control" id="formGroupMobile" placeholder="valid mobile number" name="mobile" value="{{user.mobile}}">
                    </div>
                    <div class="form-group col-lg-4">
                        <label for="formGroupPost">Item Name</label>
                        <input type="text" class="form-control" id="formGroupItem"  placeholder="New Item Name" name="itemName">
                    </div>
                    <div class="form-group col-lg-4">
                        <label for="formGroupPost">Amount</label>
                        <input type="number" class="form-control" id="formGroupAmount" placeholder="Amount" name="amount">
                    </div>
                    <div class="form-group col-lg-4">
                        <input type="hidden" class="form-control" id="formGroupCsrf"  name="_csrf" value="{{csrfToken}}">
                    </div>
                    <div class="form-group col-xs-4">
                        &nbsp&nbsp&nbsp<button type="submit" class="btn btn-primary" name="submit" value="create">Donate</button>
                        <a href="/donation/" class="btn btn-danger">Cancel</a>
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>