<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
<link rel="stylesheet" href="/stylesheets/chat.css">
<style>
    input {
        padding: 10px 20px;
        box-sizing: border-box;
        background: #eee;
        border: 0;
        display: block;
        width: 100%;
        background: #fff;
        border-bottom: 1px solid #eee;
        font-family: Nunito;
        font-size: 16px;
    }
</style>
<section class="banner-sec">
    <div class="container">
<div id="mario-chat" style="margin-top: 0px">

    <h2 style="
    font-size: 18px;
    padding: 10px 20px;
    color: #1f2121;
">CHAT : {{session.eventTitle}}</h2>
    <div id="chat-window">
        <div id="output"></div>
        <div id="feedback"></div>
    </div>
    <label for="formGroupPostDonor">{{user.firstName}} {{user.lastName}}</label>
    <input id="handle" type="hidden" placeholder="Handle" value="{{user.firstName}} {{user.lastName}}"/>
    <input id="message" type="text" placeholder="Message" />
    <button id="send"
    style="
    background: #FD3A13;
    color: #fff;
    font-size: 18px;
    border: 0;
    padding: 12px 0;
    width: 100%;
    border-radius: 0 0 2px 2px;"
    >Send</button>
</div>
    </div>
</section>
<script src="/javascripts/chat.js"></script>


