
<script>
    function validateDonation(){
        var amount=document.getElementById("formGroupAmount").value;
        if(amount<=0){
            alert("Enter a Positive number");
            return false;
        }
        else{
            $('#items').append('<input type="hidden" value="'+x+'" name="entries">');
            return true;
        }
    }
</script>


<style>
    button {
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }
</style>


<section class="banner-sec">
    <div class="container">
        <div class="row">
            <div class="container">
                <h3>{{session.donationType}} | {{session.eventTitle}}</h3>
                <hr>
                {{#if messages}}
                    <div class="alert alert-danger">
                        {{messages}}
                    </div>
                {{/if}}
                {{#if msgSuccess}}
                    <div id="charge-error" class="alert alert-success">
                        {{msgSuccess}}
                    </div>
                {{/if}}
                <form action="/donation/distributeList" method="post" onsubmit="return validateDonation()">
                    <div class="container">
                        <div class="form-group col-lg-4">
                            <label for="formGroupPostDonor">Donor Name : {{ user.firstName }} {{ user.lastName }}</label>
                            <input type="hidden" class="form-control" id="formGroupdonor" placeholder="Name" name="donorName" value="{{ user.firstName }} {{ user.lastName }}">
                        </div>
                        <div class="form-group col-lg-4">
                            <label for="formGroupMobile">Mobile Number : {{user.mobile}}</label>
                            <input type="hidden" class="form-control" id="formGroupMobile" placeholder="valid mobile number" name="mobile" value="{{user.mobile}}">
                        </div>
                        <div id="items">
                            <div class="row">
                                <div class="form-group col-lg-4">
                                    <label for="formGroupPost">Item Name</label>
                                    <select class="form-control" id="itemName" name="itemName[0]">
                                        <option value="" selected>Choose</option>
                                        <option value="Baby Bottles & Formula(Powdered & liquid)">Baby Bottles & Formula(Powdered & liquid)</option>
                                        <option value="Baby Clothes & Blankets">Baby Clothes & Blankets</option>
                                        <option value="Baby Food(Jarred or Canned)">Baby Food(Jarred or Canned)</option>
                                        <option value="Baby Powder (Bottles)">Baby Powder (Bottles)</option>
                                        <option value="Diapers & Wipes (Packets)">Diapers & Wipes (Packets)</option>
                                    </select>
                                </div>
                                <div class="form-group col-lg-4">
                                    <label for="formGroupPost">Amount</label>
                                    <input type="number" class="form-control" id="formGroupAmount" placeholder="Amount" name='amount[0]'>
                                </div>
                                <div class="form-group col-lg-3">
                                        <label for="exampleInputDistrict">Location</label>
                                    <select class="form-control" id="district" name="location[0]">
                                        <option value="" selected>Choose</option>
                                        <option value="Ampara">Ampara</option>
                                        <option value="Anuradhapura">Anuradhapura</option>
                                        <option value="Badulla">Badulla</option>
                                        <option value="Batticaloa">Batticaloa</option>
                                        <option value="Colombo">Colombo</option>
                                        <option value="Galle">Galle</option>
                                        <option value="Gampaha">Gampaha</option>
                                        <option value="Hambantota">Hambantota</option>
                                        <option value="Jaffna">Jaffna</option>
                                        <option value="Kalutara">Kalutara</option>
                                        <option value="Northern">Northern</option>
                                        <option value="Kandy">Kandy</option>
                                        <option value="Kegalle">Kegalle</option>
                                        <option value="Kilinochchi">Kilinochchi</option>
                                        <option value="Kurunegala">Kurunegala</option>
                                        <option value="Mannar">Mannar</option>
                                        <option value="Matale">Matale</option>
                                        <option value="Matara">Matara</option>
                                        <option value="Monaragala">Monaragala</option>
                                        <option value="Mullaitivu">Mullaitivu</option>
                                        <option value="NuwaraEliya">Nuwara Eliya</option>
                                        <option value="Polonnaruwa">Polonnaruwa</option>
                                        <option value="Puttalam">Puttalam</option>
                                        <option value="Ratnapura">Ratnapura</option>
                                        <option value="Trincomalee">Trincomalee</option>
                                        <option value="Vavuniya">Vavuniya</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-4">
                            <input type="hidden" class="form-control" id="formGroupCsrf"  name="_csrf" value="{{csrfToken}}">
                        </div>
                        <div class="form-group col-xs-4">
                            <input type="button" value=">> Add More + >> " id="add" class="btn btn-success">
                        </div>
                        <div class="form-group col-xs-4">
                            <button type="submit" class="btn btn-primary" name="submit" value="create">Donate</button>
                            <a href="/donation/distributedDonations" class="btn btn-danger">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>

<script
        src="https://code.jquery.com/jquery-1.7.1.min.js"
        integrity="sha256-iBcUE/x23aI6syuqF7EeT/+JFBxjPs5zeFJEXxumwb0="
        crossorigin="anonymous"></script>

<script>
    var x = 1;
    $(document).ready(function(){

        $("#add").click(function (e){

            $('#items').append('<div class="row">\n' +
                    '                                <div class="form-group col-lg-3">\n' +
                    '                                    <label for="formGroupPost">Item Name</label>\n' +
                    '                                    <select class="form-control" id="itemName" name="itemName['+x+']">\n' +
                    '                                        <option value="" selected>Choose</option>\n' +
                    '                                        <option value="Baby Bottles & Formula(Powdered & liquid)">Baby Bottles & Formula(Powdered & liquid)</option>\n' +
                    '                                        <option value="Baby Clothes & Blankets">Baby Clothes & Blankets</option>\n' +
                    '                                        <option value="Baby Food(Jarred or Canned)">Baby Food(Jarred or Canned)</option>\n' +
                    '                                        <option value="Baby Powder (Bottles)">Baby Powder (Bottles)</option>\n' +
                    '                                        <option value="Diapers & Wipes (Packets)">Diapers & Wipes (Packets)</option>\n' +
                    '                                    </select> \n' +
                    '                                </div>'+
                    '<div class="form-group col-lg-3"> <label for="formGroupPost">Amount</label> <input type="number" class="form-control" id="formGroupAmount" placeholder="Amount" name="amount['+x+']"></div>'+
                    '<div class="form-group col-lg-3">\n' +
                    '                                        <label for="exampleInputDistrict">Location</label>\n' +
                    '                                    <select class="form-control" id="district" name="location['+x+']">\n' +
                    '                                        <option value="choose" selected>Choose</option>\n' +
                    '                                        <option value="Ampara">Ampara</option>\n' +
                    '                                        <option value="Anuradhapura">Anuradhapura</option>\n' +
                    '                                        <option value="Badulla">Badulla</option>\n' +
                    '                                        <option value="Batticaloa">Batticaloa</option>\n' +
                    '                                        <option value="Colombo">Colombo</option>\n' +
                    '                                        <option value="Galle">Galle</option>\n' +
                    '                                        <option value="Gampaha">Gampaha</option>\n' +
                    '                                        <option value="Hambantota">Hambantota</option>\n' +
                    '                                        <option value="Jaffna">Jaffna</option>\n' +
                    '                                        <option value="Kalutara">Kalutara</option>\n' +
                    '                                        <option value="Northern">Northern</option>\n' +
                    '                                        <option value="Kandy">Kandy</option>\n' +
                    '                                        <option value="Kegalle">Kegalle</option>\n' +
                    '                                        <option value="Kilinochchi">Kilinochchi</option>\n' +
                    '                                        <option value="Kurunegala">Kurunegala</option>\n' +
                    '                                        <option value="Mannar">Mannar</option>\n' +
                    '                                        <option value="Matale">Matale</option>\n' +
                    '                                        <option value="Matara">Matara</option>\n' +
                    '                                        <option value="Monaragala">Monaragala</option>\n' +
                    '                                        <option value="Mullaitivu">Mullaitivu</option>\n' +
                    '                                        <option value="NuwaraEliya">Nuwara Eliya</option>\n' +
                    '                                        <option value="Polonnaruwa">Polonnaruwa</option>\n' +
                    '                                        <option value="Puttalam">Puttalam</option>\n' +
                    '                                        <option value="Ratnapura">Ratnapura</option>\n' +
                    '                                        <option value="Trincomalee">Trincomalee</option>\n' +
                    '                                        <option value="Vavuniya">Vavuniya</option>\n' +
                    '                                    </select>\n' +
                    '                                </div>'+
                    '&nbsp&nbsp&nbsp<button type="submit" class="btn btn-danger" id="delete" name="delete" value="Delete">X</button></div>');
            x++;

        });


        $('body').on('click','#delete',function (e){

            $(this).parent('div').remove();
        });


    });
</script>