<script> var count = 0;
</script>

<section class="banner-sec">
    <div class="container">
        <div class="row">

            {{#if isAuthenticated}}
                {{#if userRole}}
        {{#each events }}
            <div class="col-md-3">
            {{#each this}}
                <div class="card"> <img class="img-fluid" src="{{this.imagePath}}" alt="">
                    <div class="card-img-overlay"> <span class="badge badge-pill badge-danger">
                        <script> if(count < 1){
                            document.write("New")
                        }else {
                            document.write("Old")
                        }</script>
                    </span> </div>
                    <div class="card-body">
                        <div class="news-title">
                            <h2 class=" title-small"><a href="/newsFeed/{{this._id}}/{{this.title}}">{{this.title}}</a></h2>
                        </div>
                        <p class="card-text"><small class="text-time"><em> Event Created By : <a href="/profile/userProfile/{{this.ownerId}}" class="nav-link">
                            <img src="{{this.ownerProfileImage}}" class="rounded" alt="..." height="30px" width="30px">
                            {{this.ownerName}}</a>{{this.date}}</em></small></p>
                            <a class="btn btn-success" href="/event/edit/{{this._id}}" role="button" onclick="return confirm('Are You Sure ' +
                         'You Want To Edit This Event..!');">Edit &raquo;</a>
                            <a class="btn btn-danger" href="/event/delete/{{this._id}}" role="button"
                               onclick="return confirm('Are You Sure ' +
                         'You Want To Delete This Event..!');">Delete &raquo;</a>
                    </div>
                </div>
                <script> count++;</script>
            {{/each}}
            </div>
        {{/each}}
        {{else}}
                {{#each events }}
                        <div class="col-md-3">
                            {{# each this}}
                                <div class="card"> <img class="img-fluid" src="{{this.imagePath}}" alt="">
                                    <div class="card-img-overlay"> <span class="badge badge-pill badge-danger">
                        <script> if(count < 1){
                            document.write("New")
                        }else {
                            document.write("Old")
                        }</script>
                    </span> </div>
                                    <div class="card-body">
                                        <div class="news-title">
                                            <h2 class=" title-small"><a href="/newsFeed/{{this._id}}/{{this.title}}">{{this.title}}</a></h2>
                                        </div>
                                        <p class="card-text"><small class="text-time"><em>{{this.date}}</em></small></p>
                                    </div>
                                </div>
                                <script> count++;</script>
                            {{/each}}
                        </div>
                {{/each}}
            {{/if}}
            {{else}}
                {{#each events }}
        <div class="col-md-3">
            {{#each this}}
                <div class="card"> <img class="img-fluid" src="{{this.imagePath}}" alt="">
                    <div class="card-img-overlay"> <span class="badge badge-pill badge-danger">
                        <script> if(count < 1){
                            document.write("New")
                        }else {
                            document.write("Old")
                        }</script>
                    </span> </div>
                    <div class="card-body">
                        <div class="news-title">
                            <h2 class=" title-small"><a href="/newsFeed/{{this._id}}/{{this.title}}">{{this.title}}</a></h2>
                        </div>
                        <p class="card-text"><small class="text-time"><em>{{this.date}}</em></small></p>
                    </div>
                </div>
                <script> count++;</script>
            {{/each}}
        </div>
{{/each}}
{{/if}}




            <div class="col-md-6 top-slider">

                <!--The div element for the map -->
                <div id="map"></div>
                <script>

                    /*var xhttp = new XMLHttpRequest();

                    xhttp.open("GET", "/getJson", true);
                    xhttp.send(null);*/
                    // Initialize and add the map
                    function initMap() {

                        /*xhttp.onreadystatechange = function() {
                            if (this.readyState === 4 && this.status === 200) {
                                var locations = JSON.parse(this.responseText);
                            }*/
//-------------------------------------------------
                        var xhttp = new XMLHttpRequest();
                        xhttp.onreadystatechange = function() {
                            if (this.readyState == 4 && this.status == 200) {
                                var locations=JSON.parse(this.responseText);
                                for (i in locations) {
                                    //var myLatlng = new google.maps.LatLng(locations[i].x,locations[i].y);
                                    console.log(locations[i][2]);
                                   // addMarker(myLatlng,map);
                                }
                            }
                        };
                        xhttp.open("GET", "/getJson", true);
                        xhttp.send("aaaa");
                        //---------------------

                        // The location of Sri Lanka
                        var sriLanka = {lat: 7.8731, lng: 80.7718};
                        // The map, centered at Sri Lanka
                        var map = new google.maps.Map(
                                document.getElementById('map'), {
                                    zoom: 8,
                                    center: sriLanka,
                                    gestureHandling: 'none',
                                    zoomControl: false
                                });
                        var polygonCords = [];
                        var disasterPolygon = [];

                            polygonCords[0] = [

                                {lat: 5.9549, lng: 80.5550},
                                {lat: 6.0535, lng: 80.2210},
                                {lat: 6.1429, lng: 81.1212},
                                {lat: 6.3162, lng: 80.8433},
                                {lat: 6.0243, lng: 80.7941}


                            ]


                            disasterPolygon[0] = new google.maps.Polygon({
                                paths: polygonCords[0],
                                strokeColor: '#FF0000',
                                strokeOpacity: 0.8,
                                strokeWeight: 2,
                                fillColor: '#FF0000',
                                fillOpacity: 0.35
                            });
                            disasterPolygon[0].setMap(map);
                        }


                </script>

                <script async defer
                        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjX8-n2SA6qoRAStfhIC4n0oYXYMVeqnQ&callback=initMap">
                </script>

                <style>
                    #map {
                        width: 100%;
                        height:800px;
                        background-color: grey;
                    }
                </style>
            </div>






        </div>
    </div>
</section>



