<script> var count = 0;</script>
<section class="banner-sec">
    <div class="container">
        <div class="row">
            {{#if isAuthenticated}}
                {{#if userRole}}
        {{#each events }}
            <div class="col-md-3">
            {{#each this}}
                <div class="card"> <img class="img-fluid" src="{{this.imagePath}}" alt="">
                    <div class="card-img-overlay"> <span class="badge badge-pill badge-danger">
                        <script> if(count < 1){
                            document.write("New")
                        }else {
                            document.write("Old")
                        }</script>
                    </span> </div>
                    <div class="card-body">
                        <div class="news-title">
                            <h2 class=" title-small"><a href="/newsFeed/{{this._id}}/{{this.title}}">{{this.title}}</a></h2>
                        </div>
                        <p class="card-text"><small class="text-time"><em>{{this.date}}</em></small></p>
                            <a class="btn btn-success" href="/event/edit/{{this._id}}" role="button" onclick="return confirm('Are You Sure ' +
                         'You Want To Edit This Event..!');">Edit &raquo;</a>
                            <a class="btn btn-danger" href="#" role="button"
                               onclick="return confirm('Are You Sure ' +
                         'You Want To Delete This Event..!');">Delete &raquo;</a>
                    </div>
                </div>
                <script> count++;</script>
            {{/each}}
            </div>
        {{/each}}
        {{else}}
                {{#each events }}
                        <div class="col-md-3">
                            {{# each this}}
                                <div class="card"> <img class="img-fluid" src="{{this.imagePath}}" alt="">
                                    <div class="card-img-overlay"> <span class="badge badge-pill badge-danger">
                        <script> if(count < 1){
                            document.write("New")
                        }else {
                            document.write("Old")
                        }</script>
                    </span> </div>
                                    <div class="card-body">
                                        <div class="news-title">
                                            <h2 class=" title-small"><a href="/newsFeed/{{this._id}}/{{this.title}}">{{this.title}}</a></h2>
                                        </div>
                                        <p class="card-text"><small class="text-time"><em>{{this.date}}</em></small></p>
                                    </div>
                                </div>
                                <script> count++;</script>
                            {{/each}}
                        </div>
                {{/each}}
            {{/if}}
            {{else}}
                {{#each events }}
        <div class="col-md-3">
            {{#each this}}
                <div class="card"> <img class="img-fluid" src="{{this.imagePath}}" alt="">
                    <div class="card-img-overlay"> <span class="badge badge-pill badge-danger">
                        <script> if(count < 1){
                            document.write("New")
                        }else {
                            document.write("Old")
                        }</script>
                    </span> </div>
                    <div class="card-body">
                        <div class="news-title">
                            <h2 class=" title-small"><a href="/newsFeed/{{this._id}}/{{this.title}}">{{this.title}}</a></h2>
                        </div>
                        <p class="card-text"><small class="text-time"><em>{{this.date}}</em></small></p>
                    </div>
                </div>
                <script> count++;</script>
            {{/each}}
        </div>
{{/each}}
{{/if}}

            <div class="col-md-6 top-slider">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <div class="news-block">
                                <div class="news-media"><img class="img-fluid" src="/images/2017SriLanka4474.jpg" alt=""></div>
                                <div class="news-title">
                                    <h2 class=" title-large"><a href="#">Click Here To Mark Influence Areas</a></h2>
                                </div>
                                <div class="news-des">Urban areas (satellite-visible lights) are shown in dark gray.
                                    See also other SAR-based flood mapping...</div>
                                <div></div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="news-block">
                                <div class="news-media"><img class="img-fluid" src="/images/z_P11-washed-1.jpg" alt=""></div>
                                <div class="news-title">
                                    <h2 class=" title-large"><a href="#">Click Here To Mark Influence Areas</a></h2>
                                </div>
                                <div class="news-des">Condimentum ultrices mi est a arcu at cum a elementum per cum turpis dui vulputate vestibulum in vehicula montes vel. Mauris nam suspendisse consectetur mus...</div>
                                <div></div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="news-block">
                                <div class="news-media"><img class="img-fluid" src="/images/565186-PDC_SriLanka_100yr_Flood_Zone_3_Day_Rainfall_19MAY16.png" alt=""></div>
                                <div class="news-title">
                                    <h2 class=" title-large"><a href="#">Click Here To Mark Influence Areas</a></h2>
                                </div>
                                <div class="news-des">Condimentum ultrices mi est a arcu at cum a elementum per cum turpis dui vulputate vestibulum in vehicula montes vel. Mauris nam suspendisse consectetur mus...</div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



