<section class="section-01">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <h3 class="heading-large">News Feed : {{session.eventTitle}}</h3>
                <div class="">
                 {{#if isAuthenticated}}
                     {{#if userRole}}
                {{# each news }}
                    {{# each this}}
                    <div class="col-lg-6 card">
                        <div class="card"> <img class="img-fluid" src="{{this.imagePath}}" alt="">
                            <div class="card-body">
                                <div class="news-title">
                                    <h2 class=" title-small">{{this.title}}</h2>
                                </div>
                                <p class="card-text">{{this.description}}</p>
                                <p class="card-text"><small class="text-time"><em> Published By : <a href="/profile/" class="nav-link">
                                    <img src="{{this.ownerProfileImage}}" class="rounded" alt="..." height="30px" width="30px">
                                    {{this.ownerName}}</a>{{this.date}}</em></small></p>
                                    <a class="btn btn-success" href="/news/edit/{{this._id}}" role="button" onclick="return confirm('Are You Sure ' +
                         'You Want To Edit This Post..!');">Edit &raquo;</a>
                                    <a class="btn btn-danger" href="/news/delete/{{this._id}}" role="button"
                                       onclick="return confirm('Are You Sure ' +
                         'You Want To Delete This Post..!');">Delete &raquo;</a>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                {{/each}}
                         {{else}}
                         {{# each news }}
                             {{# each this}}
                                     <div class="col-lg-6 card">
                                         <div class="card"> <img class="img-fluid" src="{{this.imagePath}}" alt="">
                                             <div class="card-body">
                                                 <div class="news-title">
                                                     <h2 class=" title-small">{{this.title}}</h2>
                                                 </div>
                                                 <p class="card-text">{{this.description}}</p>
                                                 <p class="card-text"><small class="text-time"><em> Published By : <a href="/profile/" class="nav-link">
                                                     <img src="{{this.ownerProfileImage}}" class="rounded" alt="..." height="30px" width="30px">
                                                     {{this.ownerName}}</a>{{this.date}}</em></small></p>
                                             </div>
                                         </div>
                                     </div>
                             {{/each}}
                         {{/each}}
                     {{/if}}
                     {{else}}
                     {{# each news }}
                         {{# each this}}
                                 <div class="col-lg-6 card">
                                     <div class="card"> <img class="img-fluid" src="{{this.imagePath}}" alt="">
                                         <div class="card-body">
                                             <div class="news-title">
                                                 <h2 class=" title-small">{{this.title}}</h2>
                                             </div>
                                             <p class="card-text">{{this.description}}</p>
                                             <p class="card-text"><small class="text-time"><em> Published By : <a href="/profile/" class="nav-link">
                                                 <img src="{{this.ownerProfileImage}}" class="rounded" alt="..." height="30px" width="30px">
                                                 {{this.ownerName}}</a>{{this.date}}</em></small></p>
                                         </div>
                                     </div>
                                 </div>
                         {{/each}}
                     {{/each}}
                 {{/if}}
                        </div>
                    </div>
            <aside class="col-lg-4 side-bar col-md-12">
                <ul class="nav nav-tabs" role="tablist" id="myTab">
                    <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#home" role="tab">Latest</a> </li>
                </ul>

                <!-- Tab panes -->

                <div class="video-sec">
                    <h4 class="heading-small">YouTube Videos</h4>
                     {{#if userRole}}
                    {{#if session.videos}}
                        {{#each session.videos}}
                    <div class="video-block">
                    {{#each this}}
                        <div class="embed-responsive embed-responsive-4by3">
                            <iframe width="560" height="315" src="{{this.videoLink}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                        <p class="card-text"><small class="text-time"><em> Published By : <a href="/profile/" class="nav-link">
                            <img src="{{this.ownerProfileImage}}" class="rounded" alt="..." height="30px" width="30px">
                            {{this.ownerName}}</a>{{this.date}}</em></small></p>
                        <a class="btn btn-success" href="/video/edit/{{this._id}}" role="button" onclick="return confirm('Are You Sure ' +
                         'You Want To Edit This Video Link..!');">Edit &raquo;</a>
                        <a class="btn btn-danger" href="/video/delete/{{this._id}}" role="button"
                           onclick="return confirm('Are You Sure ' +
                         'You Want To Delete This Video..!');">Delete &raquo;</a>
                    {{/each}}
                    </div>
                            {{/each}}
                     {{/if}}
                    {{else}}
                         {{#if session.videos}}
                             {{#each session.videos}}
                                     <div class="video-block">
                                         {{#each this}}
                                             <div class="embed-responsive embed-responsive-4by3">
                                                 <iframe width="560" height="315" src="{{this.videoLink}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                             </div>
                                             <p class="card-text"><small class="text-time"><em> Published By : <a href="/profile/" class="nav-link">
                                                 <img src="{{this.ownerProfileImage}}" class="rounded" alt="..." height="30px" width="30px">
                                                 {{this.ownerName}}</a>{{this.date}}</em></small></p>
                                         {{/each}}
                                     </div>
                             {{/each}}
                         {{/if}}
                    {{/if}}
                </div>
            </aside>
        </div>
    </div>

    <nav aria-label="...">
    <ul class="pagination">
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
       <li class="page-item active"><a style="background-color: #FD3A13 "class="page-link" href="/newsFeed/">1
            <span class="sr-only">(current)</span>
        </a></li>
        <li class="page-item ">
            <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
    </nav>
</section>

