<section class="banner-sec">
    <div class="container">
        <div class="text-center">
            <h4><strong>Profile</strong> : {{user.firstName}} {{user.lastName}}</h4>
        </div>
        <hr>
            <div class="row">
                <hr>
                <div class="col-sm-3"><!--left col-->


                    <div class="text-center">
                        <img src="{{user.profileImage}}" class="avatar img-circle img-thumbnail" alt="avatar">
                        <h6>Profile Picture</h6>
                    </div>
                </div>
                </hr>
                <br>



                <ul class="list-group">
                    <table class="table table-user-information" align="center">
                        <tbody>
                        <tr>
                            <td>Name</td>
                            <td>{{user.firstName}} {{user.lastName}}</td>
                        </tr>
                        <tr>
                            <td>Role</td>
                            <td>{{user.role}}</td>
                        </tr>
                        <tr>
                            <td>Gender</td>
                            <td>{{user.gender}}</td>
                        </tr>
                        <tr>
                            <td>Address</td>
                            <td>{{user.province}} / {{user.district}}</td>
                        </tr>
                        <tr>
                            <td>Contact</td>
                            <td>{{user.mobile}} / {{user.phone}}</td>
                        </tr>
                        </tbody>
                    </table>
                </ul>



                <hr>
            </div>
            {{#if session.eventID}}
            <a class="btn btn-warnings" href="/donation/myDonations" role="button">MY Donations</a>
                {{/if}}
    </div>

</section>

