<script src="/javascripts/new.js"></script>
<section class="section-01">
    <div class="container">
            <h3>Donation : {{session.eventTitle}}</h3>
            <h4><strong>Donor Name</strong> : {{session.donorName}}
                | <strong>Contact Number</strong> : {{session.mobile}}</h4>
            <div class="row">
                <hr>
                <div class="col-sm-2"><!--left col-->


                    <div class="text-center">
                        <img src="{{session.profileImage}}" class="avatar img-circle img-thumbnail" alt="avatar">
                        <h6>Profile Picture</h6>
                    </div>
                </div>
                </hr>
                <br>



                <ul class="list-group">
                    <table class="table table-user-information" align="center">
                        <tbody>
                        <tr style="font-size: 130%">
                            <td>Donation List</td>
                            <td>Amount</td>
                        </tr>
                        {{# each donations}}
                            <tr>
                                <td>{{this._id}}</td>
                                <td>{{this.quantity}}</td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </ul>
                <hr>
            </div>
    </div>

</section>

