<script> var count = 1;</script>
<section class="banner-sec">
<div class="container">
    <div class="row">
        <div class="container">
            <h3>System Users</h3>
            <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Role</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {{# each result}}
                    <tr>
                        <td><script>document.write(count)</script></td>
                        <td>{{this.firstName}}</td>
                        <td>{{this.lastName}}</td>
                        <td>{{this.role}}</td>
                        <td>
                            <a href="/operations/userProfile/{{this._id}}" class="btn btn-success">View Profile</a>
                            <a href="/operations/userEditRole/{{this._id}}" class="btn btn-danger">Edit Role &nbsp&nbsp&nbsp&nbsp</a>
                        </td>
                    </tr>
                    <script>count ++;</script>
                {{/each}}
                </tbody>
            </table>
            </div>
        </div>
    </div>
</div>
</section>