<script> var count = 1;</script>
<section class="banner-sec">
<div class="container">
    <div class="row">
        <div class="container">
            <div class="text-center"><h3>System Users</h3></div>
            <br>
            <div class="table-responsive">
                <div class="text-center">
            <table class="table table-user-information" align="center">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Profile Picture</th>
                    <th>Name</th>
                    <th>Role</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {{# each result}}
                    {{#each this}}
                    <tr>
                        <td><script>document.write(count)</script></td>
                        <td><img src="{{this.profileImage}}" class="rounded" alt="..." height="30px" width="30px"> </td>
                        <td>{{this.firstName}} {{this.lastName}}</td>
                        <td>{{this.role}}</td>
                        <td>
                            <a href="/operations/userProfile/{{this._id}}" class="btn btn-default">View Profile &raquo;</a>
                        </td>
                    </tr>
                    <script>count ++;</script>
                {{/each}}
                {{/each}}
                </tbody>
            </table>
                </div>
            </div>
        </div>
    </div>
</div>
</section>