
<section class="banner-sec">
    <div class="text-center">
        <h3>Donation : {{session.eventTitle}}</h3>
    </div>
    <div class="container">
        <div class="row">
            <hr>
            <div class="col-sm-2"><!--left col-->

                    <div class="text-center">
                        <img src="{{donations.0.profileImage}}" class="avatar img-circle img-thumbnail" alt="avatar">
                        <h6>{{donations.0.donorName}}</h6>
                    </div>
            </div>
            </hr>
            <br>



            <ul class="list-group">
                <table class="table table-user-information" align="center">
                    <tbody>
                    <tr style="font-size: 130%">
                        <td>Donation List</td>
                        <td>Amount</td>
                    </tr>
                    {{#each donations}}
                        <tr>
                            <td>{{this._id}}</td>
                            <td>{{this.quantity}}</td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
                <hr>
                    <h6><strong>Contact Number</strong> : {{donations.0.mobile}} / {{donations.0.phone}}</h6>
                <h6><strong>Address</strong> : {{donations.0.province}} / {{donations.0.district}}</h6>
                <form action="/handlingDonations/updateStatus" method="post">
                <div class="form-group">
                    <div class="text-center">
                        <br>
                    <label for="exampleInputStatus"><strong>Status</strong></label>
                    </div>
                <select class="custom-select" id="inputGroupSelect01" name="status">
                    <option selected value="{{donations.0.status}}">{{donations.0.status}}</option>
                    <option value="Pending">Pending</option>
                    <option value="Call Once">Call Once</option>
                    <option value="Call Twice">Call Twice</option>
                    <option value="Confirm">Confirm</option>
                    <option value="Success">Success</option>
                </select>
                    <div class="text-center">
                        <br>
                    <div class="form-group col-xs-4">
                        <button type="submit" class="btn btn-primary" name="submit" value="create">Update Status</button>
                        <a href="/handlingDonations/searchDonors" class="btn btn-danger">Cancel</a>
                    </div>
                    </div>
                </div>
                </form>
            </ul>
            <hr>
        </div>
    </div>

</section>

